<html>
    <body>
        <h1>Add Product</h1>

        <form action="/add-product-process" method="POST">
            Product: <input type="text" name="txt1">
            Price: <input type="text" name="txt2">
            Details: <input type="text" name="txt3">
            <input type="submit" value="Add Product">
        </form>
    </body>
</html>
